<nav role="navigation" aria-label="Main navigation">
  <ul class="main-nav">
    <li><a href="/">Inicio</a></li>
    <li><a href="por-grado">Por Grado</a></li>
    <li><a href="/">Por Materia</a></li>
    <li><a href="/">Para Padres</a></li>
  </ul>
</nav>
